---
layout: base.njk
title: Note | MANCUSPIE
permalink: /note/
---
<section class="archive-page panel">
  <div class="archive-inner">
    <h1>Note</h1>
    {% for post in collections.note | reverse %}
    <a class="archive-item" href="{{ post.url }}">
      <span>{{ post.data.title }}</span><em>{{ post.data.author }}</em><p>{{ post.data.excerpt }}</p>
    </a>
    {% endfor %}
  </div>
</section>
