---
layout: base.njk
title: Progetti | MANCUSPIE
permalink: /progetti/
---
<section class="archive-page panel">
  <div class="archive-inner">
    <h1>Altri progetti</h1>
    <a class="archive-item" href="/zingaristan/">
      <span>Zingaristan</span><p>Homepage ufficiale</p>
    </a>
    <a class="archive-item" href="/materiali/">
      <span>Materiali</span><p>Cose che ci piacciono o che vogliamo mettere a disposizione del mondo.</p>
    </a>
  </div>
</section>
