---
layout: base.njk
title: Progetti | MANCUSPIE
permalink: /progetti/
---
<section class="archive-page panel">
  <div class="archive-inner">
    <h1>Altri progetti</h1>
    {% for project in collections.progetti | reverse %}
    <a class="archive-item" href="{{ project.url }}">
      <span>{{ project.data.title }}</span><p>{{ project.data.excerpt }}</p>
    </a>
    {% endfor %}
  </div>
</section>
