---
layout: base.njk
title: Ultimi movimenti | MANCUSPIE
permalink: /ultimi-movimenti/
---
<section class="single-page panel">
  <article class="single-inner">
    <p class="section-kicker">MANCUSPIE</p>
    <h1>ULTIMI MOVIMENTI</h1>
    <div class="single-body">
      <p>Qui appariranno gli ultimi movimenti.</p>
    </div>
  </article>
</section>
